@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "iran-sans";
  src: url("/public/font/IRANSansWeb.ttf");
}

html {
  font-family: "iran-sans";
  text-decoration: none !important;
}

body {
  background-color: #f6f7f9;
}
